{% extends 'myapp/base.html' %}

{% block content%}

<div class="divider col-sm-12 col-xs-12 col-md-12">
  <div class="header-text"><span>About</span> Us</div>
</div>

<div class="container header-start text-center">
  <p class="text-center sub-text"><strong>SHIROMANEE MAHILA JAN KALYAN SANSTHAN was established in 2014, in response to a rural community-led demand for education in Saharsa and Khagria. We are providing vocational courses all over India with the help of our Branch network in small towns and villages.
  </strong></p>
  <h1 class="main-text">REGISTRATION ACT : 21-1860-AN ISO</h1>

</div>





{% endblock  %}




