{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class="divider col-sm-12 col-xs-12 col-md-12">
  <div class="header-text"><span>Donate</span> Here</div>
</div>
<h1 class="main-text" align="center">You can donate by using our bank account details.</h1>

<div class="container">
  <div class="col-md-12">
    <div class="service-features">
    <div class="img-container">
      <img src="{% static 'images/paperplane.png' %}" alt="Service Features">
    </div>
      
      <h3>Bank Account Details</h3>
      <p><b>Name : XXX

      <br>A/c No : XXX
      <br>Bank Name : XXX
<br>IFSC Code : XXX
<br>Branch : XXX</b></p>
    </div>
  </div><!-- END ONE THIRD COLUMN -->
</div>








{% endblock  %}


